@model CreditBook.Models.BookViewModel.Payment

<form asp-controller="Payment" asp-action="PaymentDept" method="post">
    <input type="hidden" name="Id" />
    <div>
        <label>Ödenecek Ücret:</label>
        <input type="text" name="FeePaid" class="form-control" value="" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Öde</button>

</form>
