@model Identity.Models.ViewModel.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.ico" type="image/ico" />
    <title>Veresiye Defteri | </title>

    <!-- Bootstrap -->
    <link href="~/master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/master/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/master/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-controller="Security" asp-action="Login" method="post">

                        <h1>Giriş Sayfası</h1>
                        <div asp-validation-summary="All"></div>
                        <div>
                            <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn submit">Giriş Yap</button>
                            <a asp-action="PasswordReset" asp-controller="Security">Şifreni mi unuttun?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Sitede yeni misiniz ?
                                <a href="#signup" class="to_register"> Üye Ol </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Veresiye Defteri!</h1>
                                <p>©2020 Tüm hakları Saklıdır.</div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form asp-controller="Security" asp-action="Register" method="post">

                        <h1>HESAP OLUŞTUR</h1>
                        <div asp-validation-summary="All"></div>
                        <div>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <button type="submit" class="btn submit">Kayıt Ol</button>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Zaten üye misiniz?
                                <a href="#signin" class="to_register"> Giriş Yap </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Veresiye Defteriela!</h1>
                                <p>©2020 Tüm hakları Saklıdır.</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
