@model Identity.Models.ViewModel.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/master/images/favicon.ico" type="image/ico" />
    <title>Veresiye Defteri | </title>

    <!-- Bootstrap -->
    <link href="~/master/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/master/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/master/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/master/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/master/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
   
        <div class="login_wrapper">
            <div class="animate form login_form">


                <h3>Şifreyi Sıfırla</h3>
                <br />  
                @if (ViewBag.State == null)
                {
                    <form asp-controller="Security" asp-action="PasswordReset" method="post">


                        <div asp-validation-summary="All"></div>
                        <div>
                            <input type="email" asp-for="Email" class="form-control" placeholder="E-Posta" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <br />  
                        <div>
                            <button type="submit" class="btn submit">Sıfırla</button>
                        </div>
                    </form>
                }
                else
                {
                    if (ViewBag.State)
                    {
                        @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
                    }
                    else
                    {
                        @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
                    }
                }

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> Veresiye Defteri!</h1>
                    <p>©2020 Tüm hakları Saklıdır.
                </div>
            </div>

        </div>
</body>
</html>
